POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=15432
POSTGRESQL_DATABASE=pg_transactional_outbox

POSTGRESQL_OUTBOX_SCHEMA=outbox
POSTGRESQL_OUTBOX_TABLE=outbox
POSTGRESQL_OUTBOX_LISTENER_ROLE=db_outbox_listener
POSTGRESQL_OUTBOX_LISTENER_ROLE_PASSWORD=db_outbox_listener_password
POSTGRESQL_OUTBOX_HANDLER_ROLE=db_outbox_handler
POSTGRESQL_OUTBOX_HANDLER_ROLE_PASSWORD=db_outbox_handler_password

# Replication related
POSTGRESQL_OUTBOX_SLOT=pg_transactional_outbox_slot
POSTGRESQL_OUTBOX_PUB=pg_transactional_outbox_pub
# Polling related
NEXT_OUTBOX_MESSAGES_FUNCTION_NAME=next_outbox_messages

# Define which type to use - polling or replication
LISTENER_TYPE=polling

RABBITMQ_PROTOCOL=amqp
RABBITMQ_VHOST=/
RABBITMQ_HOST=localhost
RABBITMQ_PORT=25672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# Used for asserting that the vhost exists
RABBITMQ_MGMT_PROTOCOL=http
RABBITMQ_MGMT_HOST=localhost
RABBITMQ_MGMT_PORT=35672

# Pino log level one of 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent'.
LOG_LEVEL=trace
NODE_ENV=development
