POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=15432
POSTGRESQL_DATABASE=pg_transactional_inbox

POSTGRESQL_INBOX_SCHEMA=inbox
POSTGRESQL_INBOX_TABLE=inbox
POSTGRESQL_INBOX_LISTENER_ROLE=db_inbox_listener
POSTGRESQL_INBOX_LISTENER_ROLE_PASSWORD=db_inbox_listener_password
POSTGRESQL_INBOX_HANDLER_ROLE=db_inbox_handler
POSTGRESQL_INBOX_HANDLER_ROLE_PASSWORD=db_inbox_handler_password

# Define which type to use - polling or replication
LISTENER_TYPE=polling

TRX_INBOX_DB_SCHEMA=inbox
TRX_INBOX_DB_TABLE=inbox
# Replication related
TRX_INBOX_DB_PUBLICATION=pg_transactional_inbox_pub
TRX_INBOX_DB_REPLICATION_SLOT=pg_transactional_inbox_slot
TRX_INBOX_RESTART_DELAY_IN_MS=250
TRX_INBOX_RESTART_DELAY_SLOT_IN_USE_IN_MS=10000
# Polling related
TRX_INBOX_NEXT_MESSAGES_FUNCTION_SCHEMA=inbox
TRX_INBOX_NEXT_MESSAGES_FUNCTION_NAME=next_inbox_messages

RABBITMQ_PROTOCOL=amqp
RABBITMQ_VHOST=/
RABBITMQ_HOST=localhost
RABBITMQ_PORT=25672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# Used for asserting that the vhost exists
RABBITMQ_MGMT_PROTOCOL=http
RABBITMQ_MGMT_HOST=localhost
RABBITMQ_MGMT_PORT=35672

# Pino log level one of 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent'.
LOG_LEVEL=trace
NODE_ENV=development
