POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=15432
POSTGRESQL_DATABASE=pg_transactional_inbox

POSTGRESQL_INBOX_SCHEMA=inbox
POSTGRESQL_INBOX_TABLE=inbox
POSTGRESQL_INBOX_SLOT=pg_transactional_inbox_slot
POSTGRESQL_INBOX_PUB=pg_transactional_inbox_pub
POSTGRESQL_INBOX_ROLE=db_inbox
POSTGRESQL_INBOX_ROLE_PASSWORD=db_inbox_password

POSTGRESQL_LOGIN_ROLE=db_login_inbox
POSTGRESQL_LOGIN_ROLE_PASSWORD=db_login_inbox_password

RABBITMQ_PROTOCOL=amqp
RABBITMQ_VHOST=/
RABBITMQ_HOST=localhost
RABBITMQ_PORT=25672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# Used for asserting that the vhost exists
RABBITMQ_MGMT_PROTOCOL=http
RABBITMQ_MGMT_HOST=localhost
RABBITMQ_MGMT_PORT=35672

# Pino log level one of 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent'.
LOG_LEVEL=trace
NODE_ENV=development
MAX_ATTEMPTS=5
MAX_POISONOUS_ATTEMPTS=3